@model HistoryGroupData

@{
    ViewBag.Title = "Magic e-commerce";
}
<div class="col-md-12 receipt">
       <div class="col-md-3">     <img src="~/images/paymentIcon.png"/>   </div>
       <div class="col-md-6 receipt_head">  <h2>Magic Orders</h2>  </div>
</div>
<div class="col-md-12">
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Receipt ID
                    </th>
                    <th>
                        Email address
                    </th>
                    <th>
                        Transaction time
                    </th>
                </tr>
            </thead>
            <tbody>        
                @foreach(var item in Model.customerOrders) {

                    string selectedRow = "";
                    if (item.ReceiptID == (int?)ViewData["ReceiptID"])
                    {
                        selectedRow = "success";
                    }
                
                    <tr class="@selectedRow">
                       <td>
                            @Html.DisplayFor(modelItem => item.ReceiptID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionDate)
                        </td>
                        <td>
                        <a class="saveButton" asp-action="Index" asp-route-id="@item.ReceiptID">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
    @if (Model.orderHistories != null)
    {
        <h3>Products Order with the Receipt</h3>
        <table class="table">
            <tr>
                <th>Product Name</th>
                <th>Store Name</th>
                <th>Quantity</th>
                <th> Total Price</th>
            </tr>

            @foreach (var item in Model.orderHistories)
            {
                <tr>
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.StoreName
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        @item.TotalPrice
                    </td>
                </tr>
            }

        </table>
    }
   </div>
</div>




