@model IEnumerable<Assignment2.Models.OwnerInventory>

@{
    ViewData["Title"] = "Display Inventory";
}

<h2>Owner Inventory</h2>

<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
           <th>
                @Html.DisplayNameFor(model => model.StockLevel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLevel)
            </td>
        </tr>
        
}
        <tr> 
            <td>
                @Html.ActionLink("Back to Index", "Dashboard" , new { @class = "btn btn-primary" })          
            </td>
        </tr>
    </tbody>
</table>
