@model IEnumerable<Assignment2.Models.Product>

@{
    ViewData["Title"] = "Store Inventory";
}

<h2>Store Inventory - @Html.Raw(ViewBag.myData)</h2>

<table id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>   
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th> Stock Request </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
       
            <td>
     
                <a asp-action="NewRequest" asp-route-id="@item.ProductID">Buy Stock</a>
               
            </td>
        </tr>
}
    </tbody>
</table>
<h4> @Html.Raw(ViewBag.content) </h4>
<center>   <a class="backButton"asp-action="Dashboard">Back</a> </center>
